/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-apr-2018, 10.13.52
    Author     : metiu
*/

body{
    color: #265090;
}


#header{
    display:flex;
    margin-bottom:10px;
}
#textheader{
    font-style: italic;
    color: #133b81;
}
#headerLine{
    border-left:0px solid #a7a8a8;
    margin:0px 150px;
}
#text2header{
    align:left;
    border-top-style: solid;
    margin-top: 75px;
    border-top-width: 0px;
}

hr { 
    display: block;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#aside{
    margin-top:10px;
    display:flex; 
    width: 200px;
}

#asideTitoli{
    color:#ffb74c;
    font-size:20px;
    font-family:Arial;
}

#asideCampi{
    display:flex;
    margin-bottom:10px;
}

#divisore{
    width: 800px;
    border-left:1px solid black;
    margin:0 7.5px;
}

#bluebox{
    border-radius: 25px; 
    background: #406bab;
    padding: 20px;
    width: 800px; 
    height: 140px;
}

#scopri{
    color:#FFFFFF;
}

#cercaB{
    color:#e28f15;
    font-size:20px;
    font-family:Arial;
}

.vr
{
    display:inline;
    height:100%;
    width:1px;
    border:1px inset;
    margin:5px
}

.rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

@font-face { 
    font-family: titolo;
    src: url('font_titolo.ttf');
} 

<!--div article-->
div.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    height: 200%;
    text-align: left;

}

.divTableCell{
    width: 300px;
    height: 150px;
    text-align: left;
}
.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border-right: 2px solid #a7a8a8;
    border-bottom: 2px solid #a7a8a8;
    padding: 10px 10px;
}
.divTable.blueTable .divTableBody .divTableCell {
    font-size: 13px;
}
.blueTable .tableFootStyle {
    font-size: 14px;
}
.blueTable .tableFootStyle .links {
    text-align: right;
}
.blueTable .tableFootStyle .links a{
    display: inline-block;
    background: #000000;
    color: #FFFFFF;
    padding: 2px 8px;

}
.blueTable.outerTableFooter {
    border-top: none;
}
.blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px; 
}
/* DivTable.com */
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

#titolo{
    color: #af2e13;
}